body {
  font-family: "Roboto", "Raleway", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
h1 {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
}
h2 {
  font-weight: bold;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
button {
  border: none;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}
.link {
  text-decoration: none;
  transition-property: background-color, color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/*.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}*/
.btn {
  border: none;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  letter-spacing: 0.06em;
  color: white;
  transition-property: background-color, color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.container {
  width: 1200px;
  margin: 0 auto;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
  margin: 0 auto;
}
.link:hover {
  color: #2196f3;
}
/*---------------Header--------------------------------------*/
.heder-list {
  display: flex;
}

.heder-links {
  padding-left: 50px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
}
.contact-list {
  position: absolute;
  cursor: pointer;
}

.heder-links.studio {
  color: #2196f3;
  margin-left: -50px;
}
.contact-list {
  font-family: Roboto;
  font-weight: 500;
  margin-top: -22px;
  display: flex;
  margin-left: 863px;
}
.links-section {
  font-family: Roboto;
  font-weight: 500;
  margin-top: 12px;
  margin-left: 93px;
  display: flex;
}
.section.section-heder {
  padding-top: 24px;
  padding-bottom: 25px;
  background-color: white;
  border: 1px solid #ececec;
}
.logo {
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  /* identical to box height */
  letter-spacing: 0.03em;
  color: #2196f3;
}

.logo-studio {
  color: black;
}
.svg-contact {
  display: flex;
}
.icons-heder-mail {
  margin-right: 10px;
}
.icons-heder-tel {
  margin-right: 10px;
}
.text-contact.link {
  display: flex;
  justify-items: center;
  align-items: center;
}
.svg-contact:nth-child(2) {
  margin-left: 30px;
}
.icons-heder-mail {
  fill: #757575;
}
.icons-heder-tel {
  fill: #757575;
}
.text-hero.link:hover .icons-heder-mail {
  fill: #2196f3;
}
.text-hero.link:hover .icons-heder-tel {
  fill: #2196f3;
}
.portfolio {
  color: #2196f3;
}
.portfolio::after {
  position: absolute;
  content: "";
  display: block;
  width: 78px;
  height: 4px;
  background: #2196f3;
  border-radius: 2px;
  margin-left: 50px;
  margin-top: 24px;
}
.marker::after {
  position: absolute;
  content: "";
  display: block;
  width: 48px;
  height: 4px;
  background: #2196f3;
  border-radius: 2px;

  margin-top: 24px;
}

/*-------------------------Site title-------------------->\*/
.hero-bg {
  position: relative;
  height: 600px;
  max-width: 1600px;
  margin: 0px auto;
  background-size: auto 600px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(../images/bg-image.jpg);
}
.title-bg {
  margin: 0 auto;
  max-width: 1600px;
}

.title {
  font-family: Roboto;
  font-weight: 900;
  padding-top: 200px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: white;
}
.btn-title-position {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.btn-title {
  margin: 0 auto;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin: 0 auto;
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 10px;
  padding-bottom: 10px;
  transition-property: all;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
}
.btn-title:focus,
.btn-title:hover {
  cursor: pointer;
  background: #188ce8;
}
/*---------------Description of the benefits-----------------*/
.hero-bg-position {
  margin: 0 auto;
}
.section.hero-bg-position {
  margin-top: 0;
}
.description-benefits {
  margin: 0 auto;
}
.links-section.description-text {
  margin-left: 0px;
}
.list-size {
  width: 270px;
  height: 101px;
}
.text-address {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
}
.footer-mail {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */
  letter-spacing: 0.03em;
}
.footer-tel {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */
  letter-spacing: 0.03em;
}
.description-hero {
  padding-top: 10px;
  width: 270px;
  height: 75px;
}
.title-hero {
  margin-top: 30px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.text-hero {
  font-size: 14px;
  line-height: 1.71;
  /* or 171% */

  letter-spacing: 0.03em;

  color: #757575;
}
.icons-description {
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: 100px;
  margin-right: 100px;
}
.container-icons {
  background: #f5f4fa;
  border-radius: 4px;
}
/*-----------------------------Doing---------------------------*/
.doing {
  padding-top: 94px;
  margin: 0 auto;
}
.doing-conteiner {
  margin-top: -94px;
}
.doing-sec {
  margin-left: -15px;
  padding-top: 50px;
}
.image-doing {
  padding-left: 30px;
}
.card-active {
  position: relative;
}
.doing-img {
  position: relative;
  color: white;
  padding-top: 27px;
  justify-content: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  bottom: 74px;
  left: 120px;
  left: 0px;
  width: 370px;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}

/*---------------Our team position-----------------*/

.list-position {
  padding-bottom: 30px;
  background-color: white;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-position {
  background: #f5f4fa;
}
.section.team-position {
  display: flex;
}

.our-team-list {
  padding-top: 50px;
  margin-left: -20px;
  display: flex;
}
.list-position {
  margin-left: 30px;
}
.social-networks.networks-card {
  margin-bottom: 30px;
}
.image-text {
  margin-left: 0px;
  text-align: center;
}
.title-image {
  padding-top: 30px;
  text-transform: capitalize;
}
.list-image {
  padding-top: 10px;
}
.social-networks {
  display: flex;
  justify-content: space-between;
}
.icons-group {
  margin-left: 32px;
  margin-top: 16px;
  width: 206px;
  height: 44px;
}
.svg-position {
  width: 44px;
  height: 44px;
  margin: 0 auto;
}

.container-icons {
  cursor: pointer;
}
.icons-social-networks {
  margin: 12px;
  fill: #afb1b8;
  transition-property: background-color, color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.svg-position:focus,
.svg-position:hover {
  border-radius: 22px;
  background: #2196f3;
  cursor: pointer;
  transition-property: background-color, color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.svg-position:focus .icons-social-networks,
.svg-position:hover .icons-social-networks {
  fill: #ffffff;
}
/*--Our clients--*/
.icons-clients {
  margin-top: 50px;
}
.client-conteiner-list {
  display: flex;
  justify-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1bb;
  border-radius: 4px;
}
.client-conteiner-list:focus,
.client-conteiner-list:hover {
  border-color: #2196f3;
  cursor: pointer;
}
.client-conteiner-list:focus .icons-social-networks,
.client-conteiner-list:hover .icons-social-networks {
  fill: #2196f3;
}
.client-conteiner {
  margin: 0 auto;
}
/*---------------------Portfoliop----------------------------*/
.prtfolio-heder {
  padding-top: 24px;
  padding-bottom: 24px;
  border: 1px solid #ececec;
}

.examples-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.hero-portfolio {
  margin-left: 24px;
}
.portfolio-title {
  margin-top: 20px;
  margin-left: 24px;
  text-align: left;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
  /* identical to box height, or 200% */

  letter-spacing: 0.06em;

  color: #212121;
}
.portfolio-text {
  margin-left: 24px;
  margin-top: 4px;
  text-align: left;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  /* identical to box height, or 187% */

  letter-spacing: 0.03em;

  color: #757575;
}
.links-portfolio {
  margin: 0 auto;
  padding-left: 300px;
  display: flex;
  margin-bottom: 50px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  /* identical to box height, or 162% */

  text-align: center;
  letter-spacing: 0.03em;
}
.card-portfolio {
  margin-top: 30px;
  margin-left: 30px;
  background: #ffffff;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  width: 370px;
  height: 404px;
  transition-property: background-color, color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.card-portfolio:nth-child(3n + 1) {
  margin-left: 15px;
}
.card-portfolio:nth-child(3n + 3) {
  margin-right: 15px;
}
.card-portfolio:nth-child(1) {
  margin-top: 0;
}
.card-portfolio:nth-child(2) {
  margin-top: 0;
}
.card-portfolio:nth-child(3) {
  margin-top: 0;
}
.text-portfolio {
  margin-top: 60px;
  margin-left: 24px;
}
.hero-portfolio {
  padding-top: 20px;
  position: absolute;
}
.btn-list {
  padding-left: 8px;
  padding-left: 8px;
}
.btn-portfolio {
  background-color: #f5f4fa;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 22px;
  padding-right: 22px;
  font-family: Roboto;
  font-weight: 500;
  transition-property: background-color, color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-portfolio:focus,
.btn-portfolio:hover {
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.btn-portfolio-blue {
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 22px;
  padding-right: 22px;
  display: flex;
  letter-spacing: 0.06em;
  transition-property: background-color, color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-portfolio-blue:focus,
.btn-portfolio-blue:hover {
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background: #188ce8;
  transition-property: background-color, color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.card-portfolio:focus,
.card-portfolio:hover {
  cursor: pointer;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  transition-property: background-color, color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-portfolio {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
  /* identical to box height, or 200% */

  letter-spacing: 0.06em;

  color: #212121;
}
.text-portfolio {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  /* identical to box height, or 187% */

  letter-spacing: 0.03em;

  color: #757575;
}
.portfolio-content {
  margin: 0 auto;
  padding-top: 0px;
}
.hover-overlay {
  width: 370px;
  height: 294px;
  background-color: rgba(33, 150, 243, 0.9);
}
.overplay {
  color: #ffffff;
}
.card-activ {
  position: relative;
  overflow: hidden;
}
.card-diskr {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  color: white;
  transform: translateY(100%);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  padding-top: 63px;
  padding-left: 24px;
  padding-bottom: 63px;
  padding-right: 24px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  /* or 156% */

  letter-spacing: 0.03em;
}
.card-portfolio:hover .card-diskr {
  transform: translateY(0%);
}

/*--------------------------footer-----------------------------*/
.studio-footer {
  color: white;
  margin: 0 auto;
}

.logo-footer {
  padding-top: 0px;
}
.text-address {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */
  letter-spacing: 0.03em;
  color: #ffffff;
}
.footer-scroll {
  padding-bottom: 7px;
}
.footer-scroll:last-child {
  padding-bottom: 0px;
}

.section-footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-list {
  padding-top: 20px;
}
.cotainer-futer {
  background-color: #2f303a;
}
.footer-list-icons {
  display: flex;
}
.svg-position {
  width: 44px;
  height: 44px;
  border-radius: 22px;
  background-color: rgba(255, 255, 255, 0.1);
}
.icons-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #ffffff;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.icons-group-footer {
  margin-left: 70px;
  margin-top: 12px;
  width: 206px;
  height: 44px;
}
.footer-tel,
.footer-mail {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */

  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}

.from-input-text {
  margin-left: 41px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  /* identical to box height */

  letter-spacing: 0.01em;

  color: #757575;
}
.wrapper-list {
  margin-top: 10px;
  margin-left: 93px;
}
.text-form {
  margin-bottom: 20px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #ffffff;
}
.input-form {
  width: 358px;
  height: 50px;
  padding-left: 14px;
  background: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}
.btn-footer {
  margin-left: 12px;
  width: 200px;
  height: 50px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  /* identical to box height, or 187% */
  letter-spacing: 0.06em;

  color: #ffffff;
}

.btn-footer:focus,
.btn-footer:hover {
  cursor: pointer;
  background: #188ce8;
}

.footer-subscription {
  position: relative;
  top: 7px;
  left: 10px;
  fill: white;
}
/*----------------modal--------------*/
.backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
}

.modal {
  background-color: white;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.btn-mod-close {
  position: absolute;
  width: 30px;
  height: 30px;

  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  box-sizing: border-box;
  right: 8px;
  top: 8px;
}
.icon-mod-btn {
  fill: black;
}
.btn-mod-close:focus,
.btn-mod-close:hover {
  transition-property: background-color, color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  background-color: white;
  fill: #2196f3;
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.conteiner-mod {
  width: 528px;
  height: 581px;
}

.mod-title {
  position: relative;
  top: 40px;
  left: 40px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.03em;

  color: #212121;
}
.form-location {
  margin-top: 75px;
  margin-left: 41px;
}
.form-filed {
  margin-bottom: 10px;
}
.from-mod-text {
  position: relative;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  /* identical to box height */
  letter-spacing: 0.01em;
  color: #757575;
}

.input-form-mod {
  position: relative;
  width: 448px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
}

.input-form-mod:hover,
.input-form-mod:focus {
  border: 1px solid #2196f3;
  transition-property: background-color, color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.name-list {
  bottom: 35px;
}
.name-list-form {
  right: 30px;
  padding-left: 42px;
}
.icons-mod {
  position: relative;
  fill: #212121;
}
.icons-mod:hover {
  fill: #2196f3;
}

.form-filed:hover .icons-mod {
  fill: #2196f3;
}
.name-list-icons {
  left: 15px;
  bottom: 29px;
}
.phone-list {
  left: 0px;
  bottom: 25px;
}
.phone-list-form {
  padding-left: 42px;
  bottom: 20px;
}
.phone-list-icons {
  bottom: 20px;
  right: 436px;
}
.mail-list {
  bottom: 28px;
}
.mail-list-form {
  padding-left: 42px;
  bottom: 20px;
}
.mail-list-icons {
  bottom: 21px;
  right: 439px;
}
.comment-list {
  bottom: 25px;
}
.form-filed {
  margin-bottom: 10px;
}
.comment-form {
  bottom: 18px;
  width: 448px;
  height: 120px;
  padding: 12px 16px 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  resize: none;
}
.comment-form::placeholder {
  font-family: Roboto;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
}
.tabl-check-text {
  margin-left: 10px;
  text-decoration: underline;
  color: #2196f3;
}
.tabl-check {
  position: relative;
  bottom: 25px;
  display: flex;
  align-items: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  /* identical to box height, or 171% */

  letter-spacing: 0.03em;

  color: #757575;
}
.btn-mod {
  position: absolute;
  margin-top: -5px;
  margin-left: 125px;
  width: 200px;
  height: 50px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  /* identical to box height, or 187% */

  letter-spacing: 0.06em;

  color: #ffffff;
  transition-property: background-color, color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-mod:hover {
  cursor: pointer;
  background: #188ce8;
}
.input-checkbox {
  position: relative;
  bottom: 16px;
}
.position-click {
  display: block;
  margin-right: 10px;
}
.svg-border {
  position: relative;
  top: 3px;
}
.svg-ok {
  display: none;
  fill: white;
}
.input-checkbox:checked + .tabl-check .svg-border {
  display: none;
}
.input-checkbox:checked + .tabl-check .position-click .svg-ok {
  display: block;
}
